<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>https://transportationhistory.org/2017/03/02/women-in-transportation-history-wilma-russey-nycs-first-female-taxi-driver/</string>
		<key>description</key>
		<string>NYC’s first female cabbie gets behind the wheel</string>
		<key>date</key>
		<date>1915-01-02T02:04:17Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Teddy_bear</string>
		<key>description</key>
		<string>The teddy bear debuts</string>
		<key>date</key>
		<date>1903-02-16T02:04:17Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cops_(TV_series)</string>
		<key>description</key>
		<string>‘Cops’ premieres</string>
		<key>date</key>
		<date>1989-03-12T02:04:17Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pocahontas</string>
		<key>description</key>
		<string>Pocahontas marries John Rolfe</string>
		<key>date</key>
		<date>1614-04-06T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cinco_de_Mayo</string>
		<key>description</key>
		<string>Cinco de Mayo becomes a holiday</string>
		<key>date</key>
		<date>1862-05-06T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Yosemite_National_Park</string>
		<key>description</key>
		<string>Yosemite is named as the first US national park</string>
		<key>date</key>
		<date>1890-10-02T02:04:17Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Scopes_Trial</string>
		<key>description</key>
		<string>Evolution is debated in the courtroom</string>
		<key>date</key>
		<date>1925-07-11T02:04:17Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/I_Have_a_Dream</string>
		<key>description</key>
		<string>MLK delivers “I Have a Dream” speech</string>
		<key>date</key>
		<date>1963-08-29T02:04:17Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Tonight_Show_Starring_Johnny_Carson</string>
		<key>description</key>
		<string>“The Tonight Show” with Johnny Carson premieres</string>
		<key>date</key>
		<date>1962-10-02T02:04:17Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Susan_B._Anthony</string>
		<key>description</key>
		<string>Susan B. Anthony casts a vote</string>
		<key>date</key>
		<date>1872-11-02T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/George_Washington%27s_crossing_of_the_Delaware_River</string>
		<key>description</key>
		<string>George Washington crosses the Delaware</string>
		<key>date</key>
		<date>1776-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Louisiana_Purchase</string>
		<key>description</key>
		<string>The United States aquires the Louisiana territory from France</string>
		<key>date</key>
		<date>1803-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Quebec_City</string>
		<key>description</key>
		<string>French found Quebec City</string>
		<key>date</key>
		<date>1608-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Erik_the_Red</string>
		<key>description</key>
		<string>Erik the Red founded a colony on Greenland</string>
		<key>date</key>
		<date>1000-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Christopher_Columbus</string>
		<key>description</key>
		<string>Columbus reached land in the Bahamas.</string>
		<key>date</key>
		<date>1492-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/American_Revolution</string>
		<key>description</key>
		<string>Colonists rebel against the crown in the American Revolution</string>
		<key>date</key>
		<date>1765-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Mexican_War_of_Independence</string>
		<key>description</key>
		<string>Miguel Hidalgo starts the Mexican War of Independence</string>
		<key>date</key>
		<date>1810-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/War_of_1812</string>
		<key>description</key>
		<string>Tecumseh helps the British to block an American attempt to seize Canada</string>
		<key>date</key>
		<date>1812-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Dominion_of_Newfoundland</string>
		<key>description</key>
		<string>The British colony of Newfoundland became a dominion</string>
		<key>date</key>
		<date>1907-12-26T02:04:17Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Second_French_intervention_in_Mexico</string>
		<key>description</key>
		<string>France invades Mexico for a second time</string>
		<key>date</key>
		<date>1861-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Conscription_Crisis_of_1917</string>
		<key>description</key>
		<string>Riots broke out on the streets of Montreal in the Conscription Crisis</string>
		<key>date</key>
		<date>1917-12-26T02:04:17Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Spanish_conquest_of_the_Aztec_Empire</string>
		<key>description</key>
		<string>The Spanish conquer the Aztec Empire</string>
		<key>date</key>
		<date>1519-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Champ_(folklore)</string>
		<key>description</key>
		<string>Samuel de Champlain claims to see a monster in Lake Champlain</string>
		<key>date</key>
		<date>1609-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Republic_of_Texas</string>
		<key>description</key>
		<string>English-speaking region of Texas declares itself the Republic of Texas</string>
		<key>date</key>
		<date>1836-12-26T02:04:13Z</date>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Mexican–American_War</string>
		<key>description</key>
		<string>A war breaks out between America and Mexico over annexation of Texas</string>
		<key>date</key>
		<date>1846-12-26T02:04:13Z</date>
	</dict>
</array>
</plist>
